<div class="content">
    <div>
        <h5>About</h5>

        <p>Welcome to my site! I am a soon-to-be graduate of Iowa State University with a B.S. in Computer Engineering,
        Minor in Music Technology. Feel free to look around at projects I have been a part of and educational reflections
        I have completed as I head towards graduation. A little about myself: I come the southeast town of Danville, Iowa.
        I am an avid musician, playing guitar, drums, and bass as well as doing some production. I also love doing anything
        outdoorsy.</p>
    </div>


    <div>
        <h5>Goals and Experience</h5>

        <p>After completing school, I look forward to a career in embedded systems or software engineering, as I love the intersection
        of hardware and software. My goals are to be able to use my acquired knowledge to design technology of the future, especially
        if that has to do with music. I would also love to pursue a graduate degree in my field so I can teach or do research later
        in my career.</p>

        <p>My technical experience is in web development. I have been a web developer for Iowa State University's Office of Admissions
        since May 2021. In this role, I was responsible for delivering new features to our various sites such as the administration's
        Intranet and Inside portals as well as the main Admissions site. I also did a fair bit of bug-fixing and content updates
        for university applications and Office of Admissions tools. Technologies used include: PHP, jQuery, HTML, MySQL, and
        the Bootstrap framework. In addition, I was able to polish professional skills such as issue tracking, communication,
        and project management.</p>
    </div>
</div>
<div>
    <br><br><br>
</div>