<div class="content">
    <div>
        <h5>Cpr E 491 - Senior Design Project</h5>

        <p>My ongoing capstone project is with a group of seven people comprising Electrical Engineers, Computer Engineers,
        and Software Engineers, and the ultimate goal is to design and produce a retro-style video game console. We have split
        the work into many teams, with myself being on the display, non-volatile storage, audio, and game design teams.</p>

        <p>Over the course of this project, I will have gained skills in graphics programming, embedded systems programming,
        audio circuitry, and game design. In addition, I look forward to this great collaborative experience with my peers.
        Right now, we are in the design phase as we look at parts and get familiar with the microcontroller platform we are using:
        the Parallax Propeller 1.</p>
    </div>

    <div>
        <h5>Com S 309 - Shop 'N Go Android App</h5>

        <p>This project was completed for my class in Software Development Practices. The purpose was to create an Android app
        that would allow users to find the most efficient route between many stores on their grocery trips. We achieved this
        with the Google Maps API on the frontend that would plot a route. I was a part of the backend team, and we used the Spring Boot
        framework to manage user, store, and grocery item data. This was the first full application I built, so I gained a lot
        of experience in HTTP requests, database management, and working with Spring Boot.</p>
    </div>

    <div>
        <h5>Cpr E 381 - MIPS Single Cycle Processor</h5>

        <p>Throughout my class in Computer Architecture and Assembly Programming, we built up knowledge to be
        able to design a single-cycle processor for the MIPS ISA. This was done in the ModelSim software with myself and a
        partner. The project was broken up into phases, and we split the work between ourselves. I was in charge of designing the
        processor's Arithmetic Logic Unit (ALU), helping piece together the components, writing algorithms to test the functionality,
        and debugging those. I would say I gained a much deeper understanding of programming after completing this project because
        we learned exactly how a high-level language gets compiled into machine code.</p>
    </div>

    <div>
        <h5>Cpr E 288 - Autonomous Roomba</h5>

        <p>In this class on Embedded Systems, we worked for the whole semester on a specific iRobot Roomba platform interfacing
        with a TI microcontroller. With partners, we made libraries in C to control the various Roomba sensors, and at the end
        of the semester in groups, we applied the previous labs to allow the Roomba to navigate obstacles and path-find. This was a
        great team-building experience, as we used Test-Driven Development in labs. It was also very good introduction to using C
        for embedded work and being able to decipher electronics datasheets.</p>
    </div>

    <br><br>
</div>