<div class="content" style="height: 250px">
    <p>In Cpr E 394, we examined ethical situations in engineering. My essay response is attached below.</p>

    <a href="./components/ethics_essay.pdf">Ethics Essay</a>
    <br><br>

    <p>In Cpr E 494 , we reflected on our education as a whole as well as our
    general education component. These are also attached below</p>

    <a href="./components/gen_ed_reflection.pdf">General Education Essay</a></br>
    <a href="./components/cumulative_reflection.pdf">Cumulative Essay</a>
</div>
